fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.30
alembic==1.13.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
httpx==0.27.0
pysnmp>=7.1
tftpy==0.8.2
pyftpdlib==1.5.9
apscheduler==3.10.4
aiofiles==23.2.1
python-dotenv==1.0.1
fastapi-mail==1.4.1
pydantic-settings==2.3.1
websockets==12.0
